.about {
  &-section {
    @extend %max-1100;
  }

  &__main-img {
    width: 100%;
    min-height: 250px;
    background-image: url('../img/in-studio.jpg');
    background-size: cover;
    background-position: 50%;
    margin: 0;

    @include breakpoint(lg) {
      // height: auto;
      margin-bottom: 8em;
    }
  }

  &__intro {
    position: relative;
    margin-bottom: 4em;

    @include breakpoint(md) {
      width: 120%;
      margin-left: -10%;
    }
  }

  &__header {
    margin-bottom: 1em;
  }

  &__main-desc {
    position: absolute;
    bottom: -8em;
    right: -4em;
    max-width: 40em;
    padding: 2em;
    background-color: $lightgrey;

    @include breakpoint(lg) {
      right: 0;
      bottom: -14em;
      font-size: .9em;
      margin: 0 auto;
      position: relative;
      display: block;
    }

    @include breakpoint(sm) {
      bottom: -12em;
    }
  }
}