.episode {
  &-page {
    @extend %max-600;
    min-height: 72vh;

    p {
      color: black;
    }

    .date {
      font-weight: 800;
      font-size: 1.25em;
      color: #222;
      margin-bottom: 1em;
      display: block;
    }

    h1, h2, h3, a {
      color: currentColor;
    }

    audio {
      margin-top: 2em;
      width: 100%;
    }
  }

  &--image {
    max-width: 500px;
    float: left;
    margin: 0 2em 2em 0;

    img {
      width: 100%;
    }
  }

  &--resources {

    h2 {
      color: dimgrey;
    }

    display: block;
    margin-top: 1em;
  }

  &--info {
    display: block;
    overflow: hidden;

    ul {
      margin: 1em 2em;
    }
  }
}