.episodes {
  @extend %max-1100;
  margin-bottom: 4em;
  display: block;
  overflow: hidden;

  h1 {
    margin: 1em 0;
    font-size: 2.4em;
  }
}

.home {
  &__ep {
    display: block;
    width: 32%;
    float: left;
    overflow: hidden;

    audio {
      width: 100%;
      margin-top: -.5em;
    }

    &:not(:nth-child(3n)) {
      margin-right: 2%;
    }

    &-date {
      font-weight: 800;
      font-size: 1.2em;
    }

    &-description {
      display: block; /* Fallback for non-webkit */
      display: -webkit-box;
      height: 5em;
      margin: 0 auto;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      opacity: .8;
    }

    a {
      width: 100%;
      display: block;
    }

    img {
      height: 220px;
      min-width: 100%;
    }
  }
}