// Vars
$breakpoints: (
  lg: 1150px,
  md: 860px,
  sm: 500px
);

// Mixins
@mixin breakpoint($name) {
  @if not map-has-key($breakpoints, $name) {
    @warn "Invalid breakpoint `#{$name}`.";
  }

  @else {
    @media screen and (max-width: map-get($breakpoints, $name)) {
      @content;
    }
  }
}

// Extends

%max-1200 {
  margin: 0 auto;
  max-width: 1200px;
}

%max-600 {
  margin: 0 auto;
  max-width: 600px;
}

%max-1100 {
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
}

%flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
}

// Helper Classes

.main-container {
  @extend %max-1200;
}

.max-contain {
  @extend %max-1200;
}

.sm-contain {
  @extend %max-800;
}