*, *:before, *:after {
  box-sizing: border-box;
}

html, body, header, nav, div, section, h1, h2, p, h3, h4, h5, ol, aside {
  display: block;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

ul, ol {
  padding: 0;
  margin: 0;
}

svg {
  width: 100%;
}