%type--headers {
  font-family: 'Oswald', sans-serif;
}

%type--body {
  font-family: 'Lora', sans-serif;
}

body {
  @extend %type--body;
}

h1, h2, h3, a {
  @extend %type--headers;
  color: $accent;
}

a {
  transition-duration: .25s;
  text-decoration: none;
  border-bottom: 1px solid currentColor;

  &:hover {
    color: mix(black, $accent, 50%)
  }

  &.more-link {
    border-bottom: none;
    margin-top: .5em;
    text-align: right;
    color: $accent--lighter;
  }
}