// setup
@import 'reset';
@import 'color';
@import 'type';
@import 'body';
@import 'layout';

// regions
@import 'header';
@import 'home';
@import 'footer';

//pages
@import 'episode';
@import 'about';
@import 'error';