<footer>
  <small>Toolsday is brought to you by <a href="http://twitter.com/chrisdhanaraj">Chris Dhanaraj</a> and <a href="http://twitter.com/una">Una Kravets</a>. While the show is recorded on site, our views and opinions do not reflect that of our employers. Seriously, we just work here.</small>
</footer>