<header>
  <div class="header__container">
    <a href="/" class="header__title">
      <div class="header__logo"><%- partial("_logo") %></div>
    </a>
    <nav>
      <ul class="global-nav">
        <li class="global-nav__item"> <a href="/about/index.html">About</a></li>
        <li class="global-nav__item"> <a href="#">iTunes</a></li>
        <li class="global-nav__item"> <a href="/feeds/rss.xml">RSS</a></li>
      </ul>
    </nav>
  </div>
</header>