<h1 class="about__header">About Us</h1>

<section class="about__intro">
  <img class="about__main-img" src="../img/in-studio.jpg" alt="Chris and Una in the studio">

  <p class="about__main-desc">Toolsday is a 20-minute podcast about the latest in tech tools, tips, and tricks on Tuesdays at 2! (Our alliteration game is so strong). The prodast is brought to you by <a href="http://twitter.com/chrisdhanaraj">Chris Dhanaraj</a> and <a href="http://twitter.com/una">Una Kravets</a>, and recorded live on IBM radio. After the show, we collect resources and post our episodes here and onto iTunes.</p>
</section>

<ul class="host__section">
  <li class="host">
    <img class="host__image" src="http://placehold.it/400x300" alt="Chris Dhanaraj">
    <h2 class="host__name">Chris Dhanaraj</h2>
    <p class="host__bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, velit, at. Molestias sapiente, alias eius, accusamus magnam iste voluptatibus, necessitatibus quisquam praesentium vel architecto numquam ut facilis consequatur quaerat eos!</p>
  </li>

  <li class="host">
    <img class="host__image" src="http://placehold.it/400x300" alt="Una Kravets">
    <h2 class="host__name">Una Kravets</h2>
    <p class="host__bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, velit, at. Molestias sapiente, alias eius, accusamus magnam iste voluptatibus, necessitatibus quisquam praesentium vel architecto numquam ut facilis consequatur quaerat eos!</p>
  </li>
</ul>