.about {
  &__main-img {
    width: 108%;
    margin: -3em -4% 0;
    min-height: 320px;
    background-image: url('../img/in-studio.jpg');
    background-size: cover;
    background-position: 50%;
  }

  &__intro {
    z-index: -2;
    position: relative;

    @include breakpoint(md) {
      width: 120%;
      margin-left: -10%;
    }
  }

  &__header {
    margin-bottom: 1em;
  }

  &__main-desc {
    position: absolute;
    bottom: -5em;
    right: 0;
    max-width: 40em;
    font-size: 1.2em;
    padding: 2em;
    background-color: $lightgrey;

    @include breakpoint(lg) {
      right: 0;
      bottom: -14em;
      font-size: .9em;
      margin: 0 auto;
      position: relative;
      display: block;
    }

    @include breakpoint(sm) {
      bottom: -12em;
    }
  }
}