.episode {
  &-page {
    @extend %max-600;
    min-height: 72vh;

    p {
      color: $black;
    }

    .date {
      font-weight: 800;
      font-size: 1.25em;
      color: $black;
      margin-bottom: 1em;
      display: block;
    }

    h1, a {
      color: currentColor;
    }

    a:hover {
      transition-duration: .5;
      opacity: .6;
    }

    h3 {
      color: $dimgrey;
      font-size: 1em;
      margin-bottom: -1em;
    }

    audio {
      margin-top: 2em;
      width: 100%;
    }
  }

  &--image {
    max-width: 500px;
    float: left;
    margin: 0 2em 2em 0;

    img {
      width: 100%;
    }
  }

  &--resources {
    -webkit-column-count: 2;
    -webkit-column-gap: 4em;

    @include breakpoint(md) {
      -webkit-column-count: 1;
    }

    h2 {
      color: $dimgrey;
    }

    display: block;
    margin-top: 1em;
  }

  &--info {
    display: block;
    overflow: hidden;

    ul {
      margin: 1em 2em;
    }
  }
}

.resources-header {
  margin-top: 2em;
  color: $dimgrey;
}

.download-link {
  float: right;
}