.header {
  &__container {
    position: relative;
    display: block;
    padding: 0 2em;
  }

  &__title {
    border-bottom: none;
  }

  &__logo {
    max-width: 160px;
    margin: -3.1em 0 0;
    display: inline-block;

    @include breakpoint(md) {
      max-width: 140px;
    }

    &:hover {
      animation: hammer .4s infinite ease-in-out alternate;
    }
  }
}

@keyframes hammer {
  0% {
    transform: rotate(0deg)
  }

  50% {
    transform: rotate(-11deg)
  }

  60% {
    transform: rotate(-8deg)
  }

  100% {
    transform: rotate(2deg)
  }
}

.global-nav {
  position: absolute;
  display: block;
  right: 1em;
  top: 0;

  @include breakpoint(sm) {
    margin: 0 .5em;
  }

  &__item {
    list-style: none;
    display: inline-block;
    margin: 1em;
    @extend %transition-duration;

    @include breakpoint(sm) {
      display: block;
      margin: .5em;
      width: 5em;
      text-align: right;
    }

    a {
      color: dimgrey;
      text-decoration: none;
      border-bottom: 1px solid currentColor;
      width: 100%;
      display: block;

      &:hover {
        color: black;
      }
    }
  }
}

.support-callout {
  position: absolute;
  font-style: italic;
  transform: rotate(-14deg);
  top: 2.4em;
  left: 95px;
  background: yellow;
  font-size: 1.5em;

  @include breakpoint(md) {
    font-size: 1.1em;
    top: 3em;
    left: 75px;
    transform: rotate(-12deg);
  }
}
