.header {
  &__container {
    @extend %max-1200;
    position: relative;
    display: block;
    padding: 0 2em;
  }

  &__logo {
    max-width: 200px;
    margin: -2.5em 0 0;

    @include breakpoint(sm) {
      max-width: 180px;
    }

    &:hover {
      animation: hammer .4s infinite ease-in-out alternate;
    }
  }
}

@keyframes hammer {
  0% {
    transform: rotate(0deg)
  }

  50% {
    transform: rotate(-11deg)
  }

  60% {
    transform: rotate(-8deg)
  }

  100% {
    transform: rotate(2deg)
  }
}

.global-nav {
  position: absolute;
  display: block;
  right: 1em;
  top: 3em;

  @include breakpoint(sm) {
    margin: 0 .5em;
  }

  &__item {
    list-style: none;
    display: inline-block;
    margin: 1em;
    @extend %transition-duration;

    @include breakpoint(sm) {
      display: block;
      margin: .5em;
      width: 5em;
      text-align: right;
    }

    a {
      color: dimgrey;
      text-decoration: none;
      border-bottom: 1px solid currentColor;
      width: 100%;
      display: block;

      &:hover {
        color: black;
      }
    }
  }
}