.episodes {
  @extend %max-1100;
  margin-bottom: 4em;
  display: block;
  overflow: hidden;

  h1 {
    margin: 1em 0;
    font-size: 2.4em;
  }
}

.home {
  &__ep {
    display: block;
    width: 30%;
    float: left;
    overflow: hidden;
    margin-bottom: 2em;

    p {
      color: black;
    }

    audio {
      width: 100%;
      margin-top: -.5em;
    }

    &:not(:nth-child(3n)) {
      margin-right: 5%;
    }

    @include breakpoint(md) {
      width: 45%;

      &:not(:nth-child(3n)) {
        margin-right: 0;
      }

      &:nth-child(2n-1) {
        margin-right: 5%;
      }
    }

    @include breakpoint(sm) {
      width: 100%;

      &:nth-child(2n-1) {
        margin-right: 0;
      }
    }


    &--color {
      display: block;
      width: 100%;
      height: 50px;
      background-color: currentColor;
    }

    &-date {
      font-weight: 800;
      font-size: 1.2em;
    }

    &-description {
      display: block; /* Fallback for non-webkit */
      display: -webkit-box;
      height: 5em;
      margin: 0 auto;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      opacity: .8;
    }

    h2 {
      color: currentColor;
    }

    a {
      width: 100%;
      display: block;
      color: currentColor;

      &:hover {
        opacity: .6;
      }
    }

    img {
      height: 220px;
      min-width: 100%;
    }
  }
}