// Vars
$breakpoints: (
  lg: 1150px,
  md: 860px,
  sm: 500px
);

// Mixins
@mixin breakpoint($name) {
  @if not map-has-key($breakpoints, $name) {
    @warn "Invalid breakpoint `#{$name}`.";
  }

  @else {
    @media screen and (max-width: map-get($breakpoints, $name)) {
      @content;
    }
  }
}