<footer>
  <small>Toolsday is brought to you by <a href="http://twitter.com/chrisdhanaraj">Chris Dhanaraj</a> and <a href="http://twitter.com/una">Una Kravets</a>. Please send requests to <a href="http://twitter.com/toolsday">@toolsday</a> and <a href="https://itunes.apple.com/us/podcast/toolsday/id1063765302?mt=2">rate us on iTunes</a> iff you like the show! (no that's not a typo &hearts;)</small>
</footer>