<header>
  <div class="header__container">
    <a href="/" class="header__title">
      <div class="header__logo"><%- partial("_logo") %></div>
    </a>
    <a class="support-callout" href="http://patreon.com/toolsday" class="">Support us on Patreon!</a>
    <nav>
      <ul class="global-nav">
        <li class="global-nav__item"> <a href="/#episode-area">Episodes</a></li>
        <li class="global-nav__item"> <a href="http://twitter.com/toolsday">Twitter</a></li>
        <li class="global-nav__item"> <a href="/feeds/rss.xml">Subscribe</a></li>
      </ul>
    </nav>
  </div>
</header>
